.about-me {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 4.9rem 1.6rem;
	position: relative;

	&__rings {
		position: absolute;
		top: -0.5rem;
		left: -40rem;
		z-index: 1;
	}

	&__my-image {
		z-index: -1;
	}
	&__content {
		h1 {
			display: block;
			text-align: center;
			font-size: 4rem;
			letter-spacing: -1.14px;
			span {
				border-bottom: 4px solid var(--green);
			}
			span:nth-child(-n + 4) {
				border-bottom: none;
			}
		}
		p {
			text-align: center;
		}
	}

	&__description {
		margin-top: 4.3rem;
		margin-bottom: 6.6rem;
		line-height: 2.8rem;
		font-size: 1.8rem;
	}

	&__contact {
		font-size: 1.6rem;
		font-weight: bold;
		letter-spacing: 0.229rem;
		line-height: 2.6rem;
		text-decoration: none;
		text-transform: uppercase;
		color: var(--white);
		border-bottom: 2px solid var(--green);
		transition: color 0.3s ease-in;
	}
	&__contact:hover {
		color: var(--green);
	}
	
}

@media (min-width: 768px) {
	.about-me {
		display: flex;
		align-items: flex-start;
		margin: 9rem 3rem;
		&__rings {
			top: -1rem;
			left: -32rem;
		}

		&__my-image {
			position: absolute;
			top: -20rem;
			right: -3rem;
			width: 32.2rem;
			height: 60rem;
		}

		&__content {
			width: 44.4rem;

			h1 {
				text-align: left;
				font-size: 7.2rem;
				letter-spacing: -2.05px;
			}
			p {
				text-align: left;
			}
		}

		&__description {
			width: 44.5rem;
			margin-top: 6rem;
			margin-bottom: 3.4rem;
			font-size: 1.8rem;
		}
	}
}

@media (min-width: 992px) {
	.about-me {
		margin: 12.7rem 16.5rem;

		&__rings {
			top: -1rem;
			left: -25rem;
		}

		&__my-image {
			top: -21rem;
			right: 0;
			width: 44.5rem;
			height: 72rem;
		}

		&__content {
			width: 70.6rem;
			h1 {
				font-size: var(--heading-xl);
				letter-spacing: -2.5px;
			}
		}

		&__description {
			margin-top: 4.3rem;
			margin-bottom: 6.6rem;
		}
	}
}
