.about-me {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 4.9rem 1.6rem;

	&__rings {
		position: absolute;
		top: -0.5rem;
		right: calc(100% - 15rem);
		z-index: 1;
	}

	&__my-image {
		z-index: -1;
	}
	&__content {
		h1 {
			display: block;
			text-align: center;
			font-size: 4rem;
			letter-spacing: -1.14px;
			span {
				border-bottom: 4px solid var(--green);
			}
			span:nth-child(-n + 4) {
				border-bottom: none;
			}
		}
		p {
			text-align: center;
		}
	}

	&__description {
		margin-top: 4.3rem;
		margin-bottom: 6.6rem;
		line-height: 2.8rem;
		font-size: 1.8rem;
	}
}

@media (min-width: 768px) {
	.about-me {
		display: flex;
		align-items: flex-start;
		padding: 6rem 3rem;
		&__rings {
			top: 4rem;
		}

		&__my-image {
			position: absolute;
			top: -14rem;
			right: 0rem;
			width: 32.2rem;
			height: 60rem;
		}

		&__content {
			width: 44.3rem;

			h1 {
				text-align: left;
				font-size: 7.2rem;
				letter-spacing: -2.05px;
			}
			p {
				text-align: left;
			}
		}

		&__description {
			width: 44.5rem;
			margin-top: 6rem;
			margin-bottom: 3.4rem;
			font-size: 1.8rem;
		}
	}
}

@media (min-width: 992px) {
	.about-me {
		padding: 8.8rem 16.5rem;

		&__rings {
			top: 7rem;
		}

		&__my-image {
			top: -15rem;
			right: 16rem;
			width: 44.5rem;
			height: 72rem;
		}

		&__content {
			width: 70.6rem;
			h1 {
				font-size: var(--heading-xl);
				letter-spacing: -2.5px;
			}
		}

		&__description {
			margin-top: 4.3rem;
			margin-bottom: 6.6rem;
		}
	}
}

@media (min-width: 1200px) {
	.about-me {
		

		&__rings {
			right: calc(100% - 25rem)
		}
	}
}
