.contact {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-grey);

	&__rings {
		position: absolute;
		bottom: 3rem;
		right: calc(100% - 15rem);
		z-index: 1;
	}

	.wrapper {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 1440px;
		padding: 6rem 1.6rem;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% - 3.2rem);
			height: 1px;
			background-color: white;
			content: '';
		}
	}

	.contact-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		.contact-heading {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&__title {
				font-size: 4rem;
				letter-spacing: -1.14px;
			}
			&__description {
				align-items: center;
				text-align: center;
				color: var(--grey);
				font-size: 1.6rem;
				line-height: 2.6rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.contact {
		.wrapper {
			padding: 8rem 16.1rem;
		}
	}
}

@media (min-width: 992px) {
	.contact {
		&__rings {
			bottom: 10rem;
		}

		.contact-content {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			gap: 10rem;
			width: 100%;
			.contact-heading {
				align-items: flex-start;
				&__description {
					text-align: left;
					font-size: var(--body);
				}
				&__title {
					font-size: var(--heading-xl);
				}
			}
		}

		.wrapper {
			padding: 8rem 16.5rem;
		}
	}
}

@media (min-width: 1200px) {
	.contact {
		&__rings {
			right: calc(100% - 25rem)
		}
	}
}
