.projects {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 2rem 1.4rem;

&__heading{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	h2{
		font-size: 4rem;
	letter-spacing: -1.14px;
	}

}

	
}

@media (min-width: 768px) {
	.projects {
		margin: 6rem 3rem;

	}

	
}
@media (min-width: 992px) {
	.projects {
		margin: 10.4rem 16.5rem;
	
	}
}
	